{% extends 'backend/base.html' %}
{% block mainbody %}
	<h4>
		商品类别信息管理
	</h4>
	<table class='table table-bordered table-striped'>
		<thead>
			<tr>
				<th>ID号</th>
				<th>父类名</th>
				<th>子类名</th>
				<th>操作</th>

			</tr>
		</thead>
		<tbody>



			{% for vo in parent %}

			<tr>
				<td>{{ vo.id }}</td>
				<td>{{ vo.name }}</td>
				<td>
					{% for v in child %}
						{% if v.pgoodstype_id == vo.id %}
							{{ v.name }}
						{% endif %}
					{% endfor %}
				</td>


				<td width="30%">
					<a href="{% url 'mybackend_ptypeadd' %}" class="view-link">添父类</a>
					<a href="{% url 'mybackend_typedelete' vo.id %}" class="view-link">删父类</a>
					<a href="{% url 'mybackend_ptypeedit' vo.id %}" class="view-link">编父类</a>

					<a href="{% url 'mybackend_typeadd' vo.id %}" class="view-link">添子类</a>
					<a href="{% url 'mybackend_typedelete' vo.id %}" class="view-link">删子类</a>
					<a href="{% url 'mybackend_typeedit' vo.id %}" class="view-link">编子类</a>
				</td>
			</tr>


			{% endfor %}

		</tbody>
	</table>
	<div class='pagination'>
		<ul>
			<li class='disabled'>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
	</div>
{% endblock %}