{% extends 'backend/base.html' %}
{% block mainbody %}
	<h3>
		商品类别信息管理
	</h3>
	<form id='edit-profile' action="{% url 'mybackend_ptypeinsert' %}" class="form-horizontal" method="post">


		{% csrf_token %}
		<fieldset>
			<legend>添加商品父类别信息</legend>

			<div class="control-group">
				<label class="control-label" for="input01">添加父类别名称：</label>
				<div class='controls'>
					<input type='text' name='pname' class='input-xlarge' id='input01' placeholder="please input parentTypeName"/>
				</div>
			</div>
			<div class='form-actions'>
				<button type='submit' class='btn btn-primary'>添加</button><button type='reset' class='btn'>重置</button>
			</div>
		</fieldset>
	</form>
	{% endblock %}